
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
</head>
<body><form>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
</form>
    <div class="form-row">
        <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum View Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="view_count_min">
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum View Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="view_count_max">
        </div>

    <form align="left" method="get">
        {{ filtered_flowers.form.as_p }}
        <input type="submit" value="FILTER">
    </form>


        <table style="width:100%" align="center" border="1px">

            <tr bgcolor="orange">
                <th>Sepal length</th>
                <th>Sepal ratio</th>
                <th>Sepal width</th>
                <th>Petal length</th>
                <th>Petal ratio</th>
                <th>Petal width</th>
                <th>Species</th>
            </tr>

            {% for flower in filtered_flowers.qs %}
            <tr style="text-align:center;">
                <td>{{ flower.sepal_length }}</td>
                <td>{{ flower.sepal_ratio }}</td>
                <td>{{ flower.sepal_width }}</td>
                <td>{{ flower.petal_length }}</td>
                <td>{{ flower.petal_ratio }}</td>
                <td>{{ flower.petal_width }}</td>
                <td>{{ flower.species }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>