<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
</head>
<{% block content %}
<h1>My Data Table</h1>
<form method="get">
    {{ filter_form.as_p }}
    <button type="submit">Filter</button>
</form>
<table id="my-table">
    <thead>
    <tr>
        <th class="sortable" data-field="name">Name</th>
        <th class="sortable" data-field="age">Age</th>
        <th class="sortable" data-field="gender">Gender</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in data %}
    <tr>
        <td>{{ flower.sepal_length }}</td>
        <td>{{ flower.sepal_ratio }}</td>
        <td>{{ flower.sepal_width }}</td>
        <td>{{ flower.petal_length }}</td>
        <td>{{ flower.petal_ratio }}</td>
        <td>{{ flower.petal_width }}</td>
        <td>{{ flower.species }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
        $(document).ready(function() {
            $('#my-table').DataTable();
            $('.sortable').on('click', function() {
                var field = $(this).data('field');
                var sortOrder = $(this).hasClass('sorting_asc') ? 'desc' : 'asc';
                $('#my-table').DataTable().order([[field, sortOrder]]).draw();
                $('.sortable').removeClass('sorting_asc sorting_desc');
                $(this).addClass(sortOrder == 'asc' ? 'sorting_asc' : 'sorting_desc');
            });
        });
    </script>
{% endblock %}/html>
    </body>
