
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <form method="POST">
        {% csrf_token %}
        <select name="species">
            <option selected disabled=true>-- select species --</option>
            <option>setosa</option>
            <option>versicolor</option>
            <option>virginica</option>
        </select>
        <hr/>
        <table style="width:100%" align="center" border="1px">

            <tr bgcolor="orange">
                <th>Sepal length</th>
                <th>Sepal ratio</th>
                <th>Sepal width</th>
                <th>Petal length</th>
                <th>Petal ratio</th>
                <th>Petal width</th>
                <th>Species</th>
            </tr>

            {% for flower in Flower %}
            <tr style="text-align:center;">
                <td>{{ flower.sepal_length }}</td>
                <td>{{ flower.sepal_ratio }}</td>
                <td>{{ flower.sepal_width }}</td>
                <td>{{ flower.petal_length }}</td>
                <td>{{ flower.petal_ratio }}</td>
                <td>{{ flower.petal_width }}</td>
                <td>{{ flower.species }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</center>
</body>
</html>